<div class="add-expense">
    <header>
        <p class="expense-title">Add an expense</p>
    </header>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="expense-fields">

            <mat-form-field class="full-width">
                <input type="text" formControlName="name" id="name" matInput placeholder="Name">
                <mat-icon matSuffix>short_text</mat-icon>
            </mat-form-field>

            <div class="currency">
                <mat-form-field class="half-width">
                    <input type="text" formControlName="amount" type="number" id="amount" matInput placeholder="Amount">
                    <mat-icon matSuffix>money&nbsp;</mat-icon>
                </mat-form-field>

                <mat-form-field class="half-width">

                    <mat-select formControlName="currency" placeholder="Currency">
                        <mat-option *ngFor="let currency of currencies" [value]="currency.value">
                            {{ currency.viewValue }}
                        </mat-option>
                    </mat-select>
                    <mat-icon matSuffix>attach_money</mat-icon>
                </mat-form-field>
            </div>

            <mat-form-field class="full-width">
                <mat-select placeholder="Expense Category" formControlName="expenses_category" id=expenses_category matInput>
                    <mat-option *ngFor="let expenseCategory of expenseCategories" [value]="expenseCategory.id">
                        {{ expenseCategory.category }}
                    </mat-option>
                </mat-select>
                <mat-icon matSuffix>category</mat-icon>
            </mat-form-field>

            <mat-form-field class="full-width">
                <input type="text" formControlName="payee" id="payee" matInput placeholder="Spent at">
                <mat-icon matSuffix>add_location</mat-icon>
            </mat-form-field>

            <!-- <mat-form-field>
                    <input matInput [matDatepicker]="picker" placeholder="Spent at">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field> -->

            <mat-slide-toggle class="cash full-width" formControlName="cash" [color]="primary" [checked]="checked">
                Paid with cash
            </mat-slide-toggle>

            <mat-slide-toggle class="status full-width" formControlName="status" [color]="primary" [checked]="checked">
                Paid
            </mat-slide-toggle>

            <mat-form-field class="full-width">
                <textarea matInput class="description" formControlName="description" placeholder="Description"></textarea>
                <mat-icon matSuffix>description</mat-icon>
            </mat-form-field>

        </div>

        <div class="actions">
            <button [disabled]="loading" mat-raised-button color="primary">Save</button>
            <loading *ngIf="loading"></loading>
        </div>
    </form>
</div>
<!-- <mat-card class="add-expense-card">
    <mat-card-header>
        <div mat-card-avatar>
            <mat-icon>create</mat-icon>
        </div>

        <mat-card-title class="expense-title">Add an expense!</mat-card-title>
    </mat-card-header>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-card-content>

            <mat-form-field class="full-width">
                <input type="text" formControlName="name" id="name" matInput placeholder="Name">
                <mat-icon matSuffix>short_text</mat-icon>
            </mat-form-field>

            <div class="currency">
                <mat-form-field class="half-width">
                    <input type="text" formControlName="amount" type="number" id="amount" matInput placeholder="Amount">
                    <mat-icon matSuffix>money&nbsp;</mat-icon>
                </mat-form-field>

                <mat-form-field class="half-width">

                    <mat-select formControlName="currency" placeholder="Currency">
                        <mat-option *ngFor="let currency of currencies" [value]="currency.value">
                            {{ currency.viewValue }}
                        </mat-option>
                    </mat-select>
                    <mat-icon matSuffix>attach_money</mat-icon>
                </mat-form-field>
            </div>

            <mat-form-field class="full-width">
                <mat-select placeholder="Expense Category" formControlName="expenses_category" id=expenses_category matInput>
                    <mat-option *ngFor="let expenseCategory of expenseCategories" [value]="expenseCategory.id">
                        {{ expenseCategory.category }}
                    </mat-option>
                </mat-select>
                <mat-icon matSuffix>category</mat-icon>
            </mat-form-field>

            <mat-form-field class="full-width">
                <input type="text" formControlName="payee" id="payee" matInput placeholder="Spent at">
                <mat-icon matSuffix>add_location</mat-icon>
            </mat-form-field> -->

            <!-- <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="Spent at">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field> -->

            <!-- <mat-slide-toggle class="cash full-width" formControlName="cash" [color]="primary" [checked]="checked">
                Paid with cash
            </mat-slide-toggle>

            <mat-slide-toggle class="status full-width" formControlName="status" [color]="primary" [checked]="checked">
                Paid
            </mat-slide-toggle>

            <mat-form-field class="full-width">
                <textarea matInput class="description" formControlName="description" placeholder="Description"></textarea>
                <mat-icon matSuffix>description</mat-icon>
            </mat-form-field>

        </mat-card-content>

        <mat-card-actions>
            <button [disabled]="loading" mat-raised-button color="primary">Add expense</button>
            <loading *ngIf="loading"></loading>
        </mat-card-actions>
    </form>
</mat-card> -->