.example-card {
  max-width: 400px;
}

.material-icons {
    font-size: 32px;
}

.login-title {
    font-size: 2em;
}

.login-wrapper {
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    background-image: url('../../assets/images/rawpixel-600780-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.login-wrapper mat-card {
    margin: 0 auto;
}

.login-wrapper .full-width  {
    width: 100%;
}

mat-card-actions {
    margin-left: 0;
    margin-right: 0;
}

mat-card-actions button {
    width: 100%;
}