<div class="login-wrapper">
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar>
                <mat-icon>fingerprint</mat-icon>
            </div>

            <mat-card-title class="login-title">Login</mat-card-title>
        </mat-card-header>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

            <mat-card-content>
                <mat-form-field class="full-width">
                    <input type="email" formControlName="email" id="email" matInput placeholder="Email">
                </mat-form-field>
                <mat-form-field class="full-width">
                    <input type="password" formControlName="password" id="password" matInput placeholder="Password">
                </mat-form-field>
            </mat-card-content>

            <mat-card-actions>
                <button [disabled]="loading" *ngIf="!loading" mat-raised-button color="primary">Login</button>
                <loading *ngIf="loading"></loading>
            </mat-card-actions>
        </form>
    </mat-card>
</div>