td.mat-cell, th.mat-header-cell {
    padding: 0 20px;
}
#expenses-table {
    margin-top: 50px;
}
#expenses-table table {
    width: 100%;
}
.table-header {
    min-height: 86px;
    padding: 0 8px;
    display: flex;
    background: #4dd0e1;
}
.table-header p {
    align-self: center;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    color: #fff;
    padding-left: 5px;
    font-size: 1.6em;
    flex: 1;
}
.table-header #actions {
    align-self: center;
}