<div id="expenses-table" *ngIf="expenses" class="mat-elevation-z8">
    <div class="table-header">
        <p>Your expenses</p>
        <div id="actions">
            <button mat-fab color="primary" [routerLink]="['/expense/new']">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </div>
    <table mat-table [dataSource]="expenses.data">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef> Amount </th>
            <td mat-cell *matCellDef="let element"> {{ element.amount / 100}} {{ element.currency }}</td>
        </ng-container>

        <ng-container matColumnDef="payee">
            <th mat-header-cell *matHeaderCellDef> Payee </th>
            <td mat-cell *matCellDef="let element"> {{ element.payee }}</td>
        </ng-container>

        <ng-container matColumnDef="added">
            <th mat-header-cell *matHeaderCellDef> Added </th>
            <td mat-cell *matCellDef="let element"> {{ element.added | date:['HH:mm, d. MMMM y'] }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [length]="resultsLength"
                    (page)="onPageChange($event)"
                    [pageSize]="pageSize"
                    [pageSizeOptions]="pageSizeOptions">
    </mat-paginator>
</div>