.add-expense-card {
    max-width: 1200px;
    margin: 50px auto 0 auto;
}
.add-expense {
    max-width: 1200px;
    margin: 50px auto 0 auto;
    background: #fff;
    color: rgba(0,0,0,.87);
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    border-radius: 2px;
}
.full-width {
    width: 100%;
}
.currency .half-width {
    width: 50%;
}
.expense-title {
    font-size: 1.6em;
    color: white;
}
.add-expense header {
    background-color: #4DD0E1;
    display: flex;
    min-height: 86px;
    align-items: center;
    padding: 0 24px;
}
.add-expense form {
    padding: 24px;
}