<div id="wrapper">
    <mat-toolbar color="primary" class="mat-elevation-z6">
        <mat-toolbar-row>
            <nav>
                <a [routerLink]="['/']" class="logo-wrapper">
                    <mat-icon>poll</mat-icon>
                </a>
                <a [routerLink]="['/expenses']" mat-button class="mat-button">Expenses</a>
                <a [routerLink]="['/expense/new']" mat-button class="mat-button">Add expense</a>
                <a [routerLink]="['/expense-category/new']" mat-button class="mat-button">Add expense category</a>
                <div id="user-nav">
                    <mat-icon>account_circle</mat-icon>{{ firstname }} {{ lastname }}<mat-icon>expand_more</mat-icon>
                    <div id="logoutBtn">
                        <a [routerLink]="['/logout']" mat-button class="mat-button">Logout</a>
                    </div>
                </div>
            </nav>
        </mat-toolbar-row>
    </mat-toolbar>
    <main>
        <router-outlet></router-outlet>
    </main>
    <footer color="primary">
        <p>© Gregor Novak</p>
    </footer>
</div>