<div id="wrapper">
    <mat-toolbar color="primary" class="mat-elevation-z6">
        <mat-toolbar-row>
            <nav>
                <span class="logo-wrapper">
                    <mat-icon>euro_symbol</mat-icon>
                </span>
                <a [routerLink]="['/home']" mat-button class="mat-button">Expenses</a>
                <a [routerLink]="['/expense/new']" mat-button class="mat-button">Add expense</a>
                <a [routerLink]="['/expense-category/new']" mat-button class="mat-button">Add expense category</a>
                <a id="user-nav">
                    <mat-icon>account_circle</mat-icon>{{ firstname }} {{ lastname }}
                    <!-- <a [routerLink]="['/logout']" mat-button class="mat-button">Logout</a> -->
                </a>
            </nav>
        </mat-toolbar-row>
    </mat-toolbar>
    <main>
        <router-outlet></router-outlet>
    </main>
    <footer color="primary">
        <p>© Gregor Novak</p>
    </footer>
</div>